absl-py==2.1.0
acme==2.9.0
acres==0.5.0
alabaster==0.7.16
alembic==1.13.2
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.10.0
anytree==2.12.1
appdirs==1.4.4
apsw==3.43.0.0
argcomplete==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-property==0.2.2
async-timeout==4.0.3
attrs==23.2.0
autocommand==2.2.2
Automat==22.10.0
autopep8==2.3.1
Babel==2.10.3
backdoor-factory==0.0.0
bcc==0.29.1
bcrypt==3.2.2
bctpy==0.6.1
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
blinker==1.7.0
blosc2==2.7.1
Bottleneck==1.3.5
brain==0.1.5
Brian2==2.7.1
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.5.0
capstone==5.0.6
certbot==2.9.0
certifi==2023.11.17
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.4.9
cheroot==10.0.1
CherryPy==18.10.0
CHSPy==1.2.2
ci-info==0.3.0
cliapp==1.20180812.1
click==8.1.6
cloud-init==26.1
cmdtest==0.32+git
colorama==0.4.6
comm==0.2.2
command-not-found==0.3
ConfigArgParse==1.7
configobj==5.0.8
configparser==7.2.0
constantly==23.10.4
contourpy==1.2.1
crypto==1.4.1
cryptography==41.0.7
css-parser==1.0.10
cssselect==1.2.0
cupshelpers==1.0
customtkinter==6.0.0
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
dbus-python==1.3.2
ddeint==0.3.0
deap==1.4.1
debugpy==1.8.5
decorator==5.1.1
deepdiff==8.0.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
dipy==1.9.0
distro==1.9.0
distro-info==1.7+build1
dnspython==2.6.1
docutils==0.21.2
dpath==2.2.0
duplicity==2.1.4
EbookLib==0.20
ebrains-drive==0.6.0
et-xmlfile==1.0.1
etelemetry==0.3.1
evdev==1.7.0
eventlet==0.40.4
executing==2.0.1
fasteners==0.18
fastjsonschema==2.20.0
feedparser==6.0.10
filelock==3.15.4
find_libpython==0.4.0
Flask==3.0.3
flask-restx==1.3.0
Flask-SocketIO==5.6.0
flatbuffers==24.3.25
fonttools==4.53.1
FormEncode==2.1.0
fqdn==1.5.1
fs==2.4.16
future==1.0.0
gevent==24.2.1
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.34.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
graphviz==0.20.3
greenlet==3.0.3
gyp==0.1
h11==0.16.0
h5py==3.11.0
html2text==2024.2.26
html5-parser==0.4.12
html5lib==1.1
httpcore==1.0.2
httplib2==0.20.4
httpx==0.26.0
httpx-sse==0.4.1
hyperlink==21.0.0
idna==3.6
ifaddr==0.2.0
imagecodecs==2024.6.1
imageio==2.35.1
imagesize==1.4.1
importlib_resources==6.4.4
incremental==22.10.0
ipykernel==6.29.5
ipython==8.26.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.collections==5.0.1
jaraco.context==6.0.1
jaraco.functools==4.0.2
jaraco.text==4.0.0
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jitcdde==1.8.1
jitcxde-common==1.5.4
joblib==1.4.2
josepy==1.14.0
json5==0.9.25
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
jwcrypto==1.5.6
kiwisolver==1.4.5
kubernetes==30.1.0
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lazy_loader==0.4
libvirt-python==10.0.0
llvmlite==0.43.0
looseversion==1.3.0
louis==3.29.0
lxml==5.3.0
lz4==4.0.2+dfsg
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mcp==1.14.0
mdurl==0.1.2
mechanize==0.4.9
mediapipe==0.10.15
mistune==3.0.2
mne==1.8.0
monotonic==1.6
more-itertools==10.4.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.8
mutagen==1.46.0
Naked==0.1.32
nala==0.15.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.8
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.3
neuroglancer-scripts==1.2.0
# Editable Git install with no remote (neurolib==0.6.1)
-e /home/donaf-strange/Downloads/neurolib-master
NEURON==8.2.6
nibabel==5.2.1
nilearn==0.10.4
nipype==1.10.0
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.46
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
openpyxl==3.1.2
opt_einsum==3.4.0
orderly-set==5.2.2
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
paramiko==2.12.0
parsedatetime==2.6
parso==0.8.4
pathlib==1.0.1
pefile==2024.8.26
pem==19.1.0
pexpect==4.9.0
pikepdf==10.2.0
pillow==10.2.0
pipx==1.7.1
platformdirs==4.2.2
plotly==5.24.1
pooch==1.8.2
portend==3.2.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.28.1
protobuf==7.35.1
prov==2.1.1
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.30
py-cpuinfo==9.0.0
py7zr==0.11.3+dfsg
pyAesCrypt==6.1.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycairo==1.25.1
pychm==0.8.6
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.20.0
pycups==2.0.1
pydantic==2.11.9
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydot==4.0.1
PyGetWindow==0.0.9
Pygments==2.18.0
PyGObject==3.48.2
PyHamcrest==2.1.0
PyICU==2.12
PyJWT==2.7.0
PyLEMS==0.6.7
PyMsgBox==1.0.9
PyMuPDF==1.26.7
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.9.0
pypet==0.6.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-sip==13.6.0
PyQt6-WebEngine==6.6.0
pyquery==2.0.1
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.20.0
PyScreeze==1.0.1
pyserial==3.5
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-apt==2.7.7+ubuntu5.2
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-dotenv==1.1.1
python-engineio==4.13.0
python-json-logger==2.0.7
python-keycloak==4.3.0
python-magic==0.4.27
python-markdown-math==0.9
python-multipart==0.0.20
python-socketio==5.16.0
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.1
pyxdg==0.28
pyxnat==1.6.4
PyYAML==6.0.1
pyzmq==26.1.1
rdflib==7.5.0
referencing==0.35.1
regex==2022.10.31
repoze.lru==0.7
requests==2.34.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
Routes==2.5.1
rpds-py==0.20.0
rsa==4.9
s3cmd==2.4.0
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
Send2Trash==1.8.3
service-identity==24.1.0
setproctitle==1.3.3
setuptools==68.1.2
setuptools-scm==8.1.0
sgmllib3k==1.0.0
shellescape==3.8.1
shellingham==1.5.4
shiboken6==6.11.1
siibra==1.0a14
simple-websocket==1.1.0
simplejson==3.19.3
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
socksio==1.0.0
sounddevice==0.5.0
soupsieve==2.6
speedtest-cli==2.1.3
Sphinx==1.7.1
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==1.2.4
SQLAlchemy==2.0.32
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.48.0
symengine==0.11.0
sympy==1.13.2
syncplay==1.7.0
systemd-python==235
tables==3.10.1
tempora==5.7.0
tenacity==9.0.0
terminado==0.18.1
texttable==1.6.7
threadpoolctl==3.5.0
tifffile==2024.8.10
Tinkerer==1.7.2
tinycss2==1.3.0
tk==0.1.0
tkintertable==1.3.3
tomli==2.0.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
traits==7.1.0
trx-python==0.3
ttystatus==0.38
tvb-data==2.0
tvb-framework==2.9
tvb-gdist==2.2.1
tvb-library==2.9
tvb-storage==2.9
Twisted==24.3.0
typer==0.17.4
types-aiofiles==23.2
types-aws-xray-sdk==2.12
types-beautifulsoup4==4.12
types-bleach==6.1
types-boltons==23.0
types-boto==2.49
types-braintree==4.24
types-cachetools==5.3
types-caldav==1.3
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-croniter==2.0
types-dateparser==1.1
types-decorator==5.1
types-Deprecated==1.2
types-dockerfile-parse==2.0
types-docopt==0.6
types-docutils==0.20
types-editdistance==0.6
types-entrypoints==0.4
types-ExifRead==3.0
types-first==2.0
types-flake8-2020==1.8
types-flake8-bugbear==23.9.16
types-flake8-builtins==2.2
types-flake8-docstrings==1.7
types-flake8-plugin-utils==1.3
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.15
types-Flask-Cors==4.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.3
types-fpdf2==2.7.4
types-gdb==12.1
types-google-cloud-ndb==2.2
types-greenlet==3.0
types-hdbcli==2.18
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-ibm-db==3.2
types-influxdb-client==1.38
types-inifile==0.4
types-JACK-Client==0.5
types-jmespath==1.0
types-jsonschema==4.19
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.22
types-Markdown==3.5
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-netaddr==0.9
types-oauthlib==3.2
types-openpyxl==3.1
types-opentracing==2.4
types-paho-mqtt==1.6
types-paramiko==3.3
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17
types-pep8-naming==0.13
types-pexpect==4.8
types-pika-ts==1.3
types-Pillow==10.1
types-playsound==1.3
types-pluggy==1.2.0
types-polib==1.2
types-portpicker==1.6
types-protobuf==4.24
types-psutil==5.9
types-psycopg2==2.9
types-pyasn1==0.5
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.2
types-pyfarmhash==0.3
types-pyflakes==3.1
types-Pygments==2.16
types-pyinstaller==6.1
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7
types-pyOpenSSL==23.3
types-pyRFC3339==1.1
types-PyScreeze==0.1.29
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.0
types-python-datemath==1.5
types-python-dateutil==2.9.0.20240821
types-python-gflags==3.1
types-python-jose==3.3
types-python-nmap==0.7
types-python-slugify==8.0
types-python-xlib==0.33
types-pytz==2023.3.post1
types-pywin32==306
types-pyxdg==0.28
types-PyYAML==6.0
types-qrcode==7.4
types-redis==4.6.0
types-regex==2023.10.3
types-requests==2.31
types-requests-oauthlib==1.3
types-retry==0.9
types-s2clientprotocol==5
types-seaborn==0.13
types-Send2Trash==1.8
types-setuptools==68.2
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.16
types-slumber==0.7
types-stdlib-list==0.8
types-stripe==3.5
types-tabulate==0.9
types-tensorflow==2.12
types-toml==0.10
types-toposort==1.10
types-tqdm==4.66
types-translationstring==1.4
types-tree-sitter==0.20.1
types-tree-sitter-languages==1.8
types-ttkthemes==3.2
types-tzlocal==5.1
types-ujson==5.8
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9
types-waitress==2.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.1
types-xmltodict==0.13
types-zstd==1.5
types-zxcvbn==4.4
typing-inspection==0.4.1
typing_extensions==4.10.0
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==15.1.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.0.7
usb-creator==0.3.16
userpath==1.9.2
uvicorn==0.35.0
wadllib==1.3.6
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.4
wheel==0.42.0
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.3.2
xarray==2024.7.0
xdg==5
xkit==0.0.0
xxhash==0.0.0
yt-dlp==2026.3.17
zc.lockfile==3.0.post1
zeroconf==0.131.0
zombie-imp==0.0.2
zope.event==5.0
zope.interface==7.0.1
